.margin_field {
  margin-top: 15px;
}

.phone_field{
  margin-top: 14.5px;
}

.dob {
  padding-top: 15px;
  display: flex;
}
.error{
  color: #da1e28;
}
.roles {
  border: 1px solid #da1e28;
  margin-bottom: 5px;
} 