.SearchIcon {
  position: absolute;
  width: 1%;
  margin-top: 8px;
  margin-left: 15px;
  left: 0;
  z-index: 3;
}

.SearchIconChild {
  display: none;
}

#removeIcon {
  width: 20px;
  height: 20px;
  margin-top: -px;
  left: 0;
  z-index: 3;
}


.Button {
  position: relative;
  background-color: #3A4345;
  color: white;
  width: 12%;
  font-style: normal;
  height: 34px;
  border-radius: 5px;
  margin-right: 5px;
  font-family: 'Poppins';
  justify-content: center;
  font-style: normal;
  font-size: 18px;
}

.Button:hover {
  background-color: #034E5E;
}

.Button i {
  display: inline;
}

.buttonIcon {
  margin-bottom: -4px;
  
}