@import "carbon-components/scss/globals/scss/typography.scss";
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,700;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,500&display=swap');


.TableContainer {
  padding-top: 5px;
  border: 1px solid #B1B1B1;
  border-width: 1.1px 1.1px 0px 1.1px;
}




.TableRowHeader {
  border: 2px solid #B1B1B1;
  border-width: 0px 1.1px 1.1px 1.1px;
}

.TableBody {
  max-height: 60vh;
  overflow: scroll;
}



.search-1 {
  width: 30%;
  height: 34px;
  position: absolute;
  left: 0;
  margin-left: 5px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 10px;
  font-size: 16px;
  background-position: 10px 10px;
  background: none;
  padding: 12px 20px 12px 40px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}

.search-1:focus {
  width: 75%;
  box-sizing: border-box;
  appearance: none;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}