@import "carbon-components/scss/globals/scss/typography.scss";
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,700;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,500&display=swap');


.TableContainer {
  margin-top: 50px;
}

.TableRowHeader {
  background-color: transparent;
}

.TableBatchActions {
  background-color: rgb(255, 255, 255);
  color: #000;
}

.TableBody {
  max-height: 60vh;
  overflow: scroll;
}

.Button {
  position: relative;
  background-color: white;
  color: rgb(0, 0, 0);
  font-family: 'Poppins';
  left: -5px;
}

.Button:hover {
  background-color: #005d5d;
}

#toolbar-content {
  margin-top: 5px;
  padding-bottom: 10px;
}

.roles {
  position: absolute;
  height: 3.2em;
  margin-left: -10.5em;
  margin-top: 4.8px
}

.colIcon {
  margin-top: 7.5px;
  padding-left: 5px;
  background-color: white;
  color: green;
  width: 24px;
  height: 24px;
}

.search-1 {
  width: 30%;
  height: 34px;
  position: absolute;
  left: 0;
  margin-left: 5px;
  box-sizing: border-box;
  border: .5px solid #ccc;
  font-size: 16px;
  background-position: 10px 10px;
  background: none;
  padding: 12px 20px 12px 40px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}

.search-1:focus {
  width: 75%;
  box-sizing: border-box;
  appearance: none;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.TableToolbarMenu {
  width: 300px;
  max-width: 100% !important;
  background-color: white;
}

.p0 {
  padding: 0;
}

.page {
  background-color: #e0e0e0;
}

.TableMainContainer {
  padding: 10px;
  background-color: white;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

.tableTitle {
  margin-top: 18px;
  border-bottom: 0.5px solid rgb(223, 223, 196);
  margin-bottom: 4px;
  color: rgb(105, 105, 105);
  font-weight: bold;
  font-size: 16px;
}