@import "carbon-components/scss/globals/scss/typography.scss";
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,700;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,500&display=swap');


.TableContainer {
  margin-top: 50px;
}


.editHeader {

  margin-top: 20px;
}

.editRow {
  margin-top: 10px;
}

.editRowSelected {
  color: #ce5a5a;
}

.TableRowHeader {
  background-color: transparent;
}

.TableBatchActions {
  background-color: rgb(255, 255, 255);
  color: #000;
}

.TableBody {
  max-height: 60vh;
  overflow: scroll;

  td{
    color: red !important;
  }
}

.Button {
  position: relative;
  background-color: white;
  color: rgb(0, 0, 0);
  font-family: 'Poppins';
  left: -5px;
}

.Button:hover {
  background-color: #005d5d;
}

#toolbar-content {
  margin-top: 5px;
  padding-bottom: 10px;
}

.roles {
  position: absolute;
  height: 3.2em;
  margin-left: -10.5em;
  margin-top: 4.8px;
  width: 150%;

}

.colIcon {
  margin-top: 5px;
  margin-left: 5px;
}


.search-1 {
  width: 25%;
  height: 30px;
  position: absolute;
  left: 0;
  margin-left: 5px;
  box-sizing: border-box;
  border: 1px solid #8b9099;
  border-radius: 2px;
  font-size: 14px;
  background-color: white;
  padding: 12px 20px 12px 40px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
  

  &:focus {
    width: 75%;
    outline: none;
    border: 1px solid #8b9099;
  }

  &::placeholder{
    color: gray;
    font-weight: lighter;
    font-size: 13px;
  }
}

  .TableToolbarMenu {
    width: 300px;
    max-width: 100% !important;
    background-color: white;
  }

  .p0 {
    padding: 0;
  }

  .page {
    background-color: #e0e0e0;
    overflow-x: hidden;
  }

  .TableMainContainer {
    padding: 10px;
    background-color: white;
    //box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    box-sizing: border-box;
  }

  .tableTitle {
    margin-top: 18px;
    border-bottom: 0.5px solid rgb(223, 223, 196);
    margin-bottom: 4px;
    color: rgb(105, 105, 105);
    font-weight: bold;
    font-size: 16px;
  }
