.admin-container {
  margin-top: 100px;
}

.formatPage {
  position: relative;
  padding: 0 !important;
  margin-top: 30px;
  padding-left: 1rem;
  padding-right: 1rem;
  background: transparent;
  width: 100%;
}

.mhiseg-main-column {
  height: 50%;
}

.mhiseg-main-content {
  max-height: calc(89vh - 1.5rem);
  padding: 1rem;
  border-radius: 12px;
  background: #efeef0;
  position: relative;
  margin-left: 30px;
  margin-right: 30px;
}

.footer-miseg {
  position: absolute;
  bottom: 5px;
  left: 0;
  right: 0;
  text-align: center;

}

body {
  background: white;
}

.title-page {
  position: relative;
  margin-top: -26px;
  margin-left: 30px;
  padding-bottom: 2px;
  width: 70%;
  overflow: hidden;
  font-family: Roboto Condensed;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  color: rgba(0, 0, 0, .69);
}

.extension-module>div>nav {
  padding: 0;
  margin: 0;
}

@media only screen and (max-width: 1055px) {
  .mhiseg-main-content {
    max-height: calc(87vh - 1.5rem);
    margin-left: 25px;
    margin-right: 25px;
  }

  .title-page {
    margin-left: 25px;
    margin-bottom: 0.1rem;
  }
}

@media only screen and (max-width: 671px) {
  .mhiseg-main-content {
    max-height: calc(85vh - 1.5rem);
    padding: 0.5rem;
    border-radius: 12px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .title-page {
    margin-left: 10px;
    font-size: 16px;
  }

}


.p0 {
  padding: 0;
}

.pr0 {
  padding-right: 0px;
}
